body {
    background-color: whitesmoke;
}

.navbar {
  font-style: color= whitesmoke;
  flex-direction: flex-end;
}

.container {
  padding-top: 120px;
  margin-bottom: 20%;
  text-align: center;
}




.image {
  max-width: 80%;
  padding: 10px;
}

.card-text {
  font-size: larger;
}

.btn {
  background-color: black;
  color: antiquewhite;
  text-align: center;
}

.page-header {
  text-align: center;
}


.footer {
  position: fixed;
  left: 0;
  margin-top: 10vw;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}

/* Media Screen Sizing */

@media screen and (max-width: 991.98px) {
  body {
    background-color: whitesmoke;
  }
}
  .wrapper {
  width: 625px;
  }

@media screen and (max-width: 970px) {
    body {
      background-color: whitesmoke;
}
}
      /* The wrapper's width will be 600px */
    .wrapper {
      width: 600px;
    }

@media screen and (max-width: 767.98px) {
  body {
    background-color: whitesmoke;
  }
}
  .wrapper {
    width: 500px;
  }

@media screen and (max-width: 575.98px) { 
  body { 
    background-color: whitesmoke;
  }
}
  .wrapper {
  width: 250px;
  }



